{% extends 'base.html' %}
{% load static %}
{% load appfilter %}

{% block body %}
	<style>

        @media print {
            svg {
                display: none !important;
            }
            .d-print-none {
                display: none !important;
            }
            img {
                display: none !important;
            }
			.mt-print-n5{
                margin-top: -40px;
			}
        }
	</style>
	<div class="d-flex flex-column-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!--begin::Card-->
					<div class="card card-custom">
						<div class="card-body ">

							<h2 class="text-center mt-print-n5 font-weight-bolder">
								به نام عشق
							</h2>
							<div class="row mt-5">
								<div class="col-4">
									<h2 class="text-left">
										{{ object.title }}
									</h2>
								</div>
								<div class="col-4">
									<h2 class="text-center">
										تالار فرزاد - 09133645510
									</h2>
								</div>
								<div class="col-4">
									<h2 class="text-right">
										مورخ
										{{ object.reserve_date|date_jalali:2 }}

									</h2>
								</div>
								<hr class="my-5 w-100">
								<h5 class="line-height-xl font-weight-normal">
									{{ object.description }}
								</h5>
								<div class="col-12 d-print-none text-right">
									<button class="btn btn-primary" onclick="window.print()">
										<i class="fa fa-print"></i>
										چاپ
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end::Container-->
	</div>
{% endblock %}
{% block script %}

{% endblock %}
